@media (max-width: 1024px) {
  mat-card-header {
    padding-bottom: 16px;
  }
  mat-spinner {
    margin-left: 40%;
    margin-top: 2%;
  }
  .mat-mdc-raised-button:not(:disabled) {
      background-color: #468ee5;
      color: white;
      font-family: 'Oxygen';
  }
  #table {
    margin-left: 0px;
  }
  table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 16px;
  }
  td, th {
      border: 1px solid #ddd;
      padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  .mat-mdc-table .mat-mdc-header-cell {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 14px;
      background-color: #63002f;
      color: white;
  }
  th.mat-mdc-header-cell, td.mat-mdc-cell {
      padding-left: 8px !important;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
  }
  td.mat-mdc-cell {
      text-align: center;
  }
  .form-fields {
    max-width: fit-content;
  }
  .prefix {
    margin-left: 5px;
  }
  #requester-name {
    margin-bottom: 0px !important;
  }
  #requester-number {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1025px) {
  mat-spinner {
    margin-left: 40%;
    margin-top: 2%;
  }
  mat-card-header {
    padding-bottom: 16px;
  }
  .mat-mdc-raised-button:not(:disabled) {
      background-color: #468ee5;
      color: white;
      font-family: 'Oxygen';
  }
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
  }
  td, th {
      border: 1px solid #ddd;
      padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}

  .mat-mdc-table .mat-mdc-header-cell {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 16px;
      background-color: #63002f;
      color: white;
  }
  th.mat-mdc-header-cell, td.mat-mdc-cell {
      text-align: center;
  }
  .form-fields {
    max-width: fit-content;
  }
  .submit-slip {
      margin-top: 10px;
  }
  .prefix {
    margin-left: 5px;
  }
}