@media (max-width: 1024px) {
    mat-card-content {
        margin-left: 16px;
    }
    button {
        background-color: #468ee5;
        color: white;
        font-family: 'Oxygen';
    }
    #table {
        margin-left: 0px;
    }
    table {
        border: solid grey 2px;
        width: 100%;
    }
    #checkBox {
        text-align: center;
    }
    #cancel, #bottom-cancel {
        background-color: red;
        margin-top: 10px;
        margin-right: 32%;
    }

    #bottom-cancel {
        margin-left: 5%;
        margin-top: 25px;
    }
}

@media (min-width: 1025px) {
    mat-card-content {
        margin-left: 16px;
    }
    button {
        background-color: #468ee5;
        color: white;
        font-family: 'Oxygen';
    }
    table {
        border: solid grey 2px;
        width: 30%;
    }
    #checkBox {
        text-align: center;
    }
    #cancel, #bottom-cancel {
        background-color: red;
        margin-top: 10px;
        margin-right: 8%;
    }

    #bottom-cancel {
        margin-top: 25px;
    }
}