<div id="modal-header">
  <span id="header-text">{{data.title}} for {{data.row.name}}</span>
</div>
<div id="sub-header">
  <span id="about-text">
    This is the late slip for {{data.row.name}} in {{data.ageGroup}} {{data.competition}}.<br>
    Please find a list of their other competitions, who notified that they will be late and a contact number.
  </span>
</div>

<div class="modal-content">
  <mat-accordion>
    <mat-expansion-panel class="example-accordion" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="accordion-heading">Other competitions for {{data.row.name}}</mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="dataSource">
        <!-- Competition Name Column -->
        <ng-container matColumnDef="Competition Name">
          <th mat-header-cell *matHeaderCellDef class="place-title"><b>Competition Name</b></th>
          <td mat-cell *matCellDef="let element" class="place-text"> {{element.competition_name}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="other-info" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="25px">
  <mat-form-field fxFlex class="form-fields" id="requester-name">
    <mat-label>Notified By</mat-label>
    <input matInput value="{{data.row.notifiedBy}}" readonly>
  </mat-form-field>
  <mat-form-field fxFlex class="form-fields" id="requester-number">
    <mat-label>Contact Number</mat-label>
    <input matInput readonly value="{{data.row.phoneNumber}}">
  </mat-form-field>
</div>

<div class="buttons">
  <button class="close" mat-raised-button (click)="close()">Close</button>
</div>
