<mat-spinner *ngIf="!isLoggedIn && !isLoginCheckDone"></mat-spinner>
<div class="no-access" *ngIf="!isLoggedIn && isLoginCheckDone">
  <mat-card class="example-card">
    <mat-card-content>
      <img id="image" mat-card-image src="../../assets/padlock-icon-lock.jpg" alt="Home Photo"><br><br>
      <span class="unathenticated-message">
        User must be logged in to manage registration. If you are an admin user please <a href='/login'>login</a>
      </span>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="isLoggedIn && isLoginCheckDone">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Manage Registration For Competitions</mat-card-title>
      <mat-card-subtitle>Please select branch, age group and competition to make changes</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <mat-form-field id="county">
        <mat-label>County/Region</mat-label>
        <mat-select [formControl]="countyControl" [compareWith]="compareCounty" [(ngModel)]="county"
                    required (selectionChange)="changeCounty($event.value)">
          <mat-option *ngFor="let county of counties" [value]="county">
            {{county.county_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="countyControl.hasError('required')">Please choose your county/Region</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field id="branch" *ngIf="county">
        <mat-label>Branch</mat-label>
        <mat-select [formControl]="branchControl" required #branchRef (selectionChange)="changeBranch($event.value)">
          <mat-option *ngFor="let branch of branches" [value]="branch">
            {{branch.branch_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="branchControl.hasError('required')">Please choose your branch</mat-error>
      </mat-form-field>
  
      <br>
  
      <mat-form-field id="category" *ngIf="branch">
        <mat-label>Age Group</mat-label>
        <mat-select [formControl]="ageGroupControl" required #catRef (selectionChange)="changeCategory($event.value)">
          <mat-option *ngFor="let cat of catagories" [value]="cat">
            {{cat.category}} {{cat.age_group}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <br>
    
      <mat-form-field id="competition" *ngIf="category">
        <mat-label>Competition</mat-label>
        <mat-select (selectionChange)="changeCompetition($event.value)">
          <mat-option *ngFor="let competition of competitions" [value]="competition">
            {{competition.competition_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="compControl.hasError('required')">Please choose your competition</mat-error>
      </mat-form-field>
  
      <br>
      <button mat-raised-button id="cancel" (click)="router.navigate(['/home'])">Cancel</button>
      <button mat-raised-button (click)="onSubmit()" 
              [disabled]="!(branch && competition && category)">Submit</button>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card *ngIf="showCompetitions">
    <mat-card-header>
      <mat-card-title>
        Entries for {{category.age_group}} {{competition.competition_name}} from {{branch.branch_name}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content id="error-text" *ngIf="tableData.length == 0">
      No entries found for this competition. Check your search options again!
    </mat-card-content>
    <mat-card-content id="table" *ngIf="tableData.length > 0">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef><b>Name</b></th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Registered Column -->
        <ng-container matColumnDef="Register">
          <th mat-header-cell *matHeaderCellDef id="checkBox"><b>Register</b></th>
          <td mat-cell *matCellDef="let element; let i = index" id="checkBox">
            <mat-checkbox (change)="shouldEnableSave($event, i)" [(ngModel)]="element.isRegistered"></mat-checkbox>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <button mat-raised-button (click)="router.navigate(['/home'])" id="bottom-cancel">Cancel</button>
      <button mat-raised-button id="save" [disabled]="!enableSave" (click)="saveEntries()">Save</button>
    </mat-card-content>
  </mat-card>
  </div>