<mat-spinner *ngIf="!isLoggedIn && !isLoginCheckDone"></mat-spinner>
<div class="no-access" *ngIf="!isLoggedIn && isLoginCheckDone">
  <mat-card class="example-card">
    <mat-card-content>
      <img id="image" mat-card-image src="../../assets/padlock-icon-lock.jpg" alt="Home Photo"><br><br>
      <span class="unathenticated-message">
        User must be logged in to manage results. If you are an admin user please <a href='/login'>login</a>
      </span>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="isLoggedIn && isLoginCheckDone">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Manage Slips and Permits For Competitions</mat-card-title>
      <mat-card-subtitle>Please select slip/permit type, county, age group & competition</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field id="form-type">
        <mat-label>Slip or Permit Type</mat-label>
        <mat-select [formControl]="slipControl" required (selectionChange)="changeSlip($event.value)">
          <mat-option *ngFor="let slip of slips" [value]="slip">
            {{slip}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="slipControl.hasError('required')">Please choose your slip type</mat-error>
      </mat-form-field>
      
      <br>
  
      <mat-form-field id="county" *ngIf="slip">
        <mat-label>County</mat-label>
        <mat-select [formControl]="countyControl" required (selectionChange)="changeCounty($event.value)">
          <mat-option *ngFor="let county of counties" [value]="county">
            {{county.county_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="countyControl.hasError('required')">Please choose your county</mat-error>
      </mat-form-field>
      
      <br>

      <mat-form-field id="category" *ngIf="county">
        <mat-label>Age Group</mat-label>
        <mat-select [formControl]="categoryControl" required #catRef (selectionChange)="changeCategory($event.value)">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.category}} {{category.age_group}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryControl.hasError('required')">Please choose an age group</mat-error>
      </mat-form-field>
    
      <br>
    
      <mat-form-field id="competition" *ngIf="category">
        <mat-label>Competition</mat-label>
        <mat-select (selectionChange)="changeCompetition($event.value)">
          <mat-option *ngFor="let comp of competitions" [value]="comp">
            {{comp.competition_number}} {{comp.competition_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button (click)="searchSlips()" [disabled]="!competition">Search</button>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="showSlips && slip == 'Late Slip'">
    <mat-card-header>
      <mat-card-title>
        {{slip}}s for {{category.age_group}} {{competition.competition_name}} {{county.county_name}}
      </mat-card-title>
      <mat-card-subtitle>
        Click on the row for more information on the late slip for that competitor.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">
          <!-- Competitor Name Column -->
         <ng-container matColumnDef="Competitor Name">
          <th mat-header-cell *matHeaderCellDef class="place-title"><b>Competitor Name</b></th>
          <td mat-cell *matCellDef="let element" class="place-text" (click)="openDialog(element)">
            {{element.name}}
          </td>
        </ng-container>
    
        <!-- Notified By Column --> 
        <ng-container matColumnDef="Notified By">
          <th mat-header-cell *matHeaderCellDef><b>Notified By</b></th>
          <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> 
            {{element.notifiedBy}}
          </td>
        </ng-container>

        <!-- Phone Number Column --> 
        <ng-container matColumnDef="Contact Number">
          <th mat-header-cell *matHeaderCellDef><b>Contact Number</b></th>
          <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> 
            {{element.phoneNumber}}
          </td>
        </ng-container>
  
        <!-- Open Slip Column -->
        <!-- <ng-container matColumnDef="Open Slip">
          <th mat-header-cell *matHeaderCellDef ><b>Open Slip</b></th>
          <td mat-cell *matCellDef="let element, let i = index">
            <button mat-icon-button (click)="openDialog(element)">
              <mat-icon id="open-slip-icon">add</mat-icon>
            </button>
          </td>
        </ng-container> -->
    
        <tr mat-header-row *matHeaderRowDef="lateSlipColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: lateSlipColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="showSlips && slip == 'Non-Compete Slip'">
    <mat-card-header>
      <mat-card-title>
        {{slip}}s for {{category.age_group}} {{competition.competition_name}} {{county.county_name}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">
          <!-- Competitor Name Column -->
         <ng-container matColumnDef="Competitor Name">
          <th mat-header-cell *matHeaderCellDef class="place-title"><b>Competitor Name</b></th>
          <td mat-cell *matCellDef="let element" class="place-text"> {{element.name}} </td>
        </ng-container>
    
        <!-- Notified By Column --> 
        <ng-container matColumnDef="Notified By">
          <th mat-header-cell *matHeaderCellDef><b>Notified By</b></th>
          <td mat-cell *matCellDef="let element"> 
            {{element.notifiedBy}}
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="nonCompeteSlipColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: nonCompeteSlipColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
