/* for mobile view*/
@media (max-width: 900px) {
    body {
        margin:0;
        padding:0;
        height:100%;
    }
    header {
        background-color: #800020;
    }
    #container {
        min-height:100%;
        position:relative;
    }
    #body {
        padding:10px;
        padding-bottom:60px;   /* Height of the footer */
    }
    footer {
        background-color: grey;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding-bottom: 0px;
    }
    #navBar {
        display: none;
    }
    #mobile-main {
        vertical-align: middle;
    }
    #menu-icon {
        font-size: 50px;
        margin-top: 5px;
        margin-right: 10px;
    }
    #menu-button {
        float: right;
        margin-right: 10px;
    }
    #admin {
        color: white;
        float: right;
    }
}

/* for PC view*/
@media (min-width: 902px) {
    body {
        margin:0;
        padding:0;
        height:100%;
    }
    header {
        background-color: #800020;
    }
    #container {
        min-height:100%;
        position:relative;
    }
    #body {
        padding:10px;
        padding-bottom:60px;   /* Height of the footer */
    }
    footer {
        background-color: grey;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding-bottom: 0px;
    }
    #menu-button {
        display: none;
    }
    #menu-icon {
        display: none;
    }
    #admin {
        color: white;
        float: right;
    }
    #mobile-space {
        display: none;
    }
}