<div id="container">
  <header>
      <img id ="logo" alt="Angular Logo" src="../assets/Fleadh-Logo.png">
      <h1 id="title">Galway Fleadh 2020 Registration</h1>
      <div id="admin" *ngIf="isLoggedIn">{{user}} logged in</div>
  </header>
  <nav mat-tab-nav-bar id="navBar">
    <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <div id="mobile-main">
      <button mat-icon-button [matMenuTriggerFor]="menu" id="menu-button">
        <mat-icon id="menu-icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive">
          <mat-icon>{{link.icon}}</mat-icon>
          <span>{{link.label}}</span>
        </button>
      </mat-menu>
      <br><br id="mobile-space"><br id="mobile-space">
  </div>
  <router-outlet></router-outlet>
  <footer>
    <img id="footer-text" src="../assets/CCE_Gaeilge-Abu_small.png">
  </footer>
</div>