@media (max-width: 1024px) {
    mat-card-header {
        padding-bottom: 16px;
    }
    mat-spinner {
        margin-left: 40%;
        margin-top: 2%;
    }
    .mat-mdc-raised-button:not(:disabled) {
        background-color: #468ee5;
        color: white;
        font-family: 'Oxygen';
    }
    #error-text {
        color: red;
        font-family: var(--mat-typography-headline6-font-family, var(--mat-typography-font-family, Roboto, sans-serif));
    }
    #table {
        margin-left: 0px;
    }
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 16px;
    }
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    .mat-mdc-table .mat-mdc-header-cell {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        background-color: #63002f;
        color: white;
    }
    th.mat-mdc-header-cell, td.mat-mdc-cell {
        padding-left: 8px !important;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    td.mat-mdc-cell {
        text-align: center;
    }
    .form-fields {
        max-width: fit-content;
        display: inline;
    }
    .group-text {
        text-wrap: wrap;
    }
    .groups-content {
        display: block !important;
    }
    .del-group-btn {
        color: red;
        background-color: whitesmoke;
        border-radius: 0%;
        margin-left: 12px;
    }
    #expansion-panel-subtitle {
        margin-bottom: 10px;
        font-family: var(--mat-typography-headline6-font-family, var(--mat-typography-font-family, Roboto, sans-serif));
    }
    #requester-name {
        margin-bottom: 0px !important;
    }
    #requester-number {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 1025px) {
    mat-card-header {
        padding-bottom: 16px;
    }
    mat-spinner {
        margin-left: 40%;
        margin-top: 2%;
    }
    .mat-mdc-raised-button:not(:disabled) {
        background-color: #468ee5;
        color: white;
        font-family: 'Oxygen';
    }
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 16px;
    }
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    .mat-mdc-table .mat-mdc-header-cell {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
        background-color: #63002f;
        color: white;
    }
    #error-text {
        color: red;
        font-family: var(--mat-typography-headline6-font-family, var(--mat-typography-font-family, Roboto, sans-serif));
    }
    th.mat-mdc-header-cell, td.mat-mdc-cell {
        text-align: center;
    }
    .form-fields {
        max-width: fit-content;
        display: inline;
    }
    .add-group {
        margin-top: 10px;
    }
    #expansion-panel-subtitle {
        margin-bottom: 10px;
        font-family: var(--mat-typography-headline6-font-family, var(--mat-typography-font-family, Roboto, sans-serif));
    }
    .submit-slip {
        margin-top: 10px;
    }
    .del-group-btn {
        color: red;
        background-color: whitesmoke;
        border-radius: 0%;
    }
}