<div id="modal-header">
  <span id="header-text">{{data.title}}</span>
</div>
<div id="sub-header">
  <span *ngIf="!isDelete" id="about-text">Confirm registration for {{data.ageGroup}} {{data.competition}} {{data.county}}</span>
</div>
<div *ngIf="!isDelete" [ngClass]="(unregisterEntrants.length > 0 && registerEntrants.length > 0) ? 'modal-content-unreg' : 'modal-content'">
  <mat-accordion *ngIf="registerEntrants.length > 0">
    <mat-expansion-panel class="example-accordion" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="accordion-heading">Register</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list id="reg-list" *ngFor="let entrant of registerEntrants">
        <span class="modal-names" id="name">{{entrant.name}}</span>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>
  <br *ngIf="unregisterEntrants.length > 0">

  <!-- <span *ngIf="unregisterEntrants.length > 0">Unregister</span> -->
  <mat-accordion *ngIf="unregisterEntrants.length > 0">
    <mat-expansion-panel class="example-accordion" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="accordion-heading">Unregister</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list id="reg-list" *ngFor="let entrant of unregisterEntrants">
        <span class="modal-names" id="name">{{entrant.name}}</span>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="delete-text">
  <span *ngIf="isDelete" id="about-text">
    Are you sure you want to delete results entered for {{data.ageGroup}} {{data.competition}} {{data.county}}?
  </span>
</div>

<div [ngClass]="isDelete ? 'delete-buttons' : 'buttons'">
  <button [ngClass]="isDelete ? 'cancel-delete' : 'cancel'" mat-raised-button (click)="close()">Cancel</button>
  <button [ngClass]="isDelete ? 'delete' : 'register'" mat-raised-button (click)="close(true)" cdkFocusInitial>{{buttonText}}</button>
</div>