/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Oxygen';

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-container {
    padding: 0px !important;
    margin-top: 10%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    border-left: solid #63002F 7px;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    cursor: pointer;
    background-color: whitesmoke;
}

.mat-mdc-checkbox .mdc-checkbox__ripple {
    display: none;
}

.cdk-overlay-pane {
    margin-bottom: calc(35vh - 50px)!important;
}

