/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Oxygen';

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-container {
    padding: 0px !important;
    margin-top: 10%;
}

.mat-mdc-text-field-wrapper {
    background-color: whitesmoke;
}

.mat-mdc-checkbox .mdc-checkbox__ripple {
    display: none;
}

.green-snackbar {
    --mdc-snackbar-container-color: green;
    color: white;
    text-align: center;
}

.cdk-overlay-pane {
    margin-bottom: calc(35vh - 50px)!important;
}

.red-snackbar {
    --mdc-snackbar-container-color: red;
    color: white;
    text-align: center;
}
