.example-card {
    max-width: 400px;
}

mat-card-title {
  font-size: 30px !important;
}
  
.example-header-image {
    background-image: url('../../assets/home_photo.jpg');
    background-size: cover;
}