@media (max-width: 1024px) {
  .example-card {
    max-width: 400px;
  }
}

@media (min-width: 1025px) {
  .example-card {
    max-width: 800px;
    margin: auto;
  }
}

mat-card-title {
  font-size: 50px !important;
  font-family: sans-serif;
}

mat-card-header {
  line-height: 0.8;
}
  
.example-header-image {
    background-image: url('../../assets/home_photo.jpg');
    background-size: cover;
}