<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Fáilte!</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/music1.jpg" alt="Home Photo">
  <mat-card-content>
    <p>
      Welcome to the County Fleadh registration website. Here you can register for competitions and
      view competition results.<br><br>
      Users with admin access can login to enter results.
    </p>
  </mat-card-content>
</mat-card>
