<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome!</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://i.pinimg.com/originals/2c/5d/a7/2c5da7b4a3a70de9cdc71b3c7bdbb128.jpg" alt="Home Photo">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
