@media (max-width: 1024px) {
    mat-card-content {
        margin-left: 16px;
    }
    button {
        background-color: #468ee5;
        color: white;
        font-family: 'Oxygen';
    }
    #error-text {
        color: red;
    }
    #table {
        margin-left: 0px;
    }
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
    th.mat-header-cell, td.mat-cell {
        padding-left: 8px !important;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    #checkBox {
        text-align: center;
    }
    #cancel {
        background-color: red;
        margin-top: 15px;
        margin-right: 32%;
    }
    #bottom-cancel {
        background-color: red;
        margin-top: 15px;
        margin-right: 32%;
        margin-left: 16px;
    }
}

@media (min-width: 1025px) {
    mat-card-content {
        margin-left: 16px;
    }
    button {
        background-color: #468ee5;
        color: white;
        font-family: 'Oxygen';
    }
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
    #error-text {
        color: red;
    }
    #checkBox {
        text-align: center;
    }
    #cancel, #bottom-cancel {
        background-color: red;
        margin-top: 10px;
        margin-right: 8%;
    }
    #bottom-cancel {
        margin-top: 25px;
    }
}