<mat-spinner *ngIf="!abadonShip && !loadComplete"></mat-spinner>
<div *ngIf="abadonShip">Internal error, please go to the Fleadh office to register</div>
<div *ngIf="!abadonShip && loadComplete">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Register For Competitions</mat-card-title>
    <mat-card-subtitle>Please select your branch, age group and competition</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field id="branch">
      <mat-label>Branch</mat-label>
      <mat-select [formControl]="branchControl" required (selectionChange)="changeBranch($event.value)">
        <mat-option *ngFor="let branch of branches" [value]="branch">
          {{branch.branchName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="branchControl.hasError('required')">Please choose your branch</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field id="category" *ngIf="branch">
      <mat-label>Catagory</mat-label>
      <mat-select [formControl]="categoryControl" required (selectionChange)="changeCategory($event.value)">
        <mat-option *ngFor="let category of catagories" [value]="category">
          {{category.age_group}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="categoryControl.hasError('required')">Please choose an age group</mat-error>
    </mat-form-field>

    <br>
  
    <mat-form-field id="competition" *ngIf="category">
      <mat-label>Competition</mat-label>
      <mat-select (selectionChange)="changeCompetition($event.value)">
        <mat-option *ngFor="let competition of competitions" [value]="competition">
          {{competition.competition_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="compControl.hasError('required')">Please choose your competition</mat-error>
    </mat-form-field>

    <br>
    <button mat-raised-button id="cancel" (click)="router.navigate(['/home'])">Cancel</button>
    <button mat-raised-button (click)="onSubmit()" 
            [disabled]="!(branch && competition && category)">Submit</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card *ngIf="isTooEarlyToRegister">
  <mat-card-content id="error-text">
    Registration is not yet open for {{category.age_group}} {{competition.competition_name}}.
    Registration is open on the day of the competition.
  </mat-card-content>
</mat-card>
<mat-card *ngIf="showCompetitions">
  <mat-card-header>
    <mat-card-title>
      Entries for {{category.age_group}} {{competition.competition_name}} from {{branch.branchName}}
    </mat-card-title>
    <mat-card-subtitle>
      Click the box to register for this competition. 
      If the box is already checked then that entrant is already registered.<br>
      Please go to the fleadh office if there is a mistake.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content id="table">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Registered Column -->
      <ng-container matColumnDef="Register">
        <th mat-header-cell *matHeaderCellDef id="checkBox"> Register</th>
        <td mat-cell *matCellDef="let element, let i = index" id="checkBox">
          <mat-checkbox (change)="shouldEnableSave($event, i)" 
            [disabled]="!element.isEditable" [(ngModel)]="element.isRegistered"></mat-checkbox>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-raised-button (click)="router.navigate(['/home'])" id="bottom-cancel">Cancel</button>
    <button mat-raised-button id="save" [disabled]="!enableSave" (click)="saveEntries()">Save</button>
  </mat-card-content>
</mat-card>
</div>